
@media (min-width: 2201px) {
    .footer {
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        padding: 0 500px;
        padding-top: 76px;
        display: flex;
        justify-content: space-evenly;
    }

    .footerImage {
        object-fit: contain;
        width: 256px;
        height: 99px;
    }
    
    /* .footerContent {
        margin-left: 71px;
    } */
    
    .footTitle {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.5px;
        color: #343434;
        margin-bottom: 42px;
        cursor: pointer;
    }
    
    .footerList {
        list-style: none;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.5px;
        color: #343434;
        margin-bottom: 28px;
    }
}

@media (max-width: 2200px) {
    .footer {
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        padding: 0px 76px;
        padding-top: 76px;
        display: flex;
        justify-content: space-evenly;
    }

    .footerImage {
        object-fit: contain;
        width: 206px;
        height: 99px;
    }
    
    .footerContent {
        margin-left: 71px;
    }
    
    .footTitle {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.5px;
        color: #343434;
        margin-bottom: 42px;
    }
    
    .footerList {
        list-style: none;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        letter-spacing: 0.5px;
        color: #343434;
        margin-bottom: 28px;
    }
}

@media (max-width: 768px) {
    .footer {
        width: 100%;
        height: 900px;
        background-color: #ffffff;
        padding-left: 6px;
        padding: 0px 20px;
        padding-top: 76px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .footerImage {
        margin-left: 31px;
        margin-bottom: 28px;
    }

    .footerContent {
        margin-left: 31px;
    }
    
}
@media (max-width: 425px) {
    .footer {
        width: 100%;
        height: 900px;
        background-color: #ffffff;
        padding-left: 0px;
        padding-top: 36px;
        display: flex;
        flex-direction: column;
    }
    .footerImage {
        margin-left: 31px;
    }
}