
@font-face {
  font-family: 'Galano';
  src: url('/webfonts/GalanoGrotesqueAltLight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Galano';
  src: url('/webfonts/GalanoGrotesqueAltRegular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Galano';
  src: url('/webfonts/GalanoGrotesqueAltMedium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Galano';
  src: url('/webfonts/GalanoGrotesqueAltSemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Galano';
  src: url('/webfonts/GalanoGrotesqueBold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}


label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #808080;
  mix-blend-mode: normal;
  opacity: 0.9;
}

