@media (min-width: 2201px) {
    .btn {
        margin-top: 38px;
        background: #65A999;
        border-radius: 2px;
        border: none;
        height: 74px;
        width: 280px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .contentSection {
        padding: 98px 500px 0px;
        text-align: center;
        margin-bottom: 62px;
    }

    .h2 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #50897C;
    }

    .paragraph2 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #000000;
    }

    .line {
        margin: 0 auto;
        height: 1px;
        width: 1113px;
        background-color: #C6C6C6;
        margin-bottom: 140px;
    }

    .gridSection {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 500px;
        margin-bottom: 180px;
        row-gap: 72px;
        column-gap: 68px;
    }
}


@media (max-width: 2200px) {
    .btn {
        margin-top: 38px;
        background: #65A999;
        border-radius: 2px;
        border: none;
        height: 74px;
        width: 280px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .contentSection {
        padding: 98px 267px 0px;
        text-align: center;
        margin-bottom: 62px;
    }

    .h2 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #50897C;
    }

    .paragraph2 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #000000;
    }

    .line {
        margin: 0px 132px;
        height: 1px;
        width: 1113px;
        background-color: #C6C6C6;
        margin-bottom: 140px;
    }

    .gridSection {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px 131px;
        margin-bottom: 180px;
        row-gap: 72px;
        column-gap: 68px;
    }
}

@media (max-width: 1024px) {
    .btn {
        margin-top: 38px;
        position: relative;
        top: -40px;
    }
    .contentSection {
        padding: 98px 127px 0px;
    }
    .line {
        margin: 0px 132px;
        height: 1px;
        width: 800px;
        margin-bottom: 140px;
    }
}

@media (max-width: 768px) {
    .contentSection {
        padding: 8px 37px 0px;
    }
    .line {
        width: 500px;
        margin-top: -10px;
    }
    .gridSection {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80px;
    }
}

@media (max-width: 425px) {
    .h2 {
        font-size: 36px;
    }
    .btn {
        top: -20px;
    }
    .line {
        width: 240px;
        margin-top: -10px;
        margin-bottom: 60px;
        position: relative;
        left: -30px;
    }
    .gridSection{
        grid-template-columns: 1fr;
        padding: 0px 31px;
    }
}

@media (max-width: 375px) {
    .line {
        display: none;
    }
}

@media (max-width: 320px) {
    .btn {
        width: 230px;
    }
}

