@media (min-width: 2201px) {
    .heroSection {
        padding: 128px 500px 0px;
        width: 100%;
        display: flex;
        background: #DDFFDA;
    }

    .heroSectionLeft {
        width: 50%;
        padding-top: 20px;
    }

    .heroSectionRight {
        width: 50%;
        position: relative;
        top: 4px;
    }

    .h1 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.5px;
        color: #50897C;
        margin-bottom: -10px;
    }

    .paragraph1 {
        margin-top: 19px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #000000;
        width: 536px;
    }

    .btn {
        margin-top: 38px;
        background: #65A999;
        border-radius: 2px;
        border: none;
        height: 74px;
        width: 280px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

@media (max-width: 2200px) {
    .heroSection {
        padding: 128px 67px 0px 97px;
        width: 100%;
        display: flex;
        background: #DDFFDA;
    }

    .heroSectionLeft {
        width: 50%;
        padding-top: 20px;
    }

    .heroSectionRight {
        width: 50%;
        position: relative;
        top: 4px;
    }

    .h1 {
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: 0.5px;
        color: #50897C;
        margin-bottom: -10px;
    }

    .paragraph1 {
        margin-top: 19px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #000000;
        width: 536px;
    }

    .btn {
        margin-top: 38px;
        background: #65A999;
        border-radius: 2px;
        border: none;
        height: 74px;
        width: 280px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .heroSection {
        width: 1024px;
    }
}

@media (max-width: 768px) {
    .heroSection {
        width: 768px;
        flex-direction: column-reverse;
    }
    .heroSectionRight {
        width: 100%;
    }
    .heroSectionLeft {
        width: 100%;
    }
    .h1 {
        margin-top: -10px;
        margin-bottom: 40px;
    }
}

@media (max-width: 425px) {
    .heroSection {
        width: 425px;
    }
    .h1{
        font-size: 40px;
        margin-top: -10px;
        margin-bottom: 40px;
        max-width: 360px;
        margin-left: -50px;
        line-height: 40px;
    }
}

@media (max-width: 375px) {
    .heroSection {
        width: 375px;
    }
    .h1{
        font-size: 40px;
        margin-top: -10px;
        margin-bottom: 40px;
        width: 320px;
        margin-left: -60px;
    }
}

@media (max-width: 320px) {
    .heroSection {
        width: 320px;
    }
    .h1 {
        font-size: 40px;
        line-height: 40px;
        margin-top: -10px;
        margin-bottom: 40px;
        width: 300px;
        margin-left: -80px;
        text-align: center;
    }
}