@media (min-width: 2201px) {
  .navbar {
    width: 100%;
    padding: 0 500px;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 67px 0px 32px; */
    background-color: #FFFFFF;
    z-index: 999999;
    position: fixed;
    top: 0px;
  }
  .section1 {
    height: 50px;
    width: 20%;
    cursor: pointer;
    }

    .navlogo {
        object-fit: contain;
    }

    .section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .unorderedList {
        display: flex;
        list-style: none;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #808080;
        position: relative;
    }

    .listItemsActive {
        width: 140px;
        padding: 0px 25px 5px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsActive:hover::after {
        content: "";
        width: 80px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 11%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .listItemsAbout {
        width: 140px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsAbout:hover::after {
        content: "";
        width: 100px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 44%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .listItemsContact {
        width: 140px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsContact:hover::after {
        content: "";
        width: 110px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 76.5%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .menuIcon {
        display: none;
    }

    .top {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }
    .middle {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }
    .bottom {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }

    .btn {
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (max-width: 2200px) {   
    .navbar {
        width: 100%;
        height: 86px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 67px 0px 32px;
        background-color: #FFFFFF;
        z-index: 999999;
        position: fixed;
        top: 0px;
    }

    .section1 {
        height: 50px;
        width: 20%;
        cursor: pointer;
    }

    .navlogo {
        object-fit: contain;
    }

    .section2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .unorderedList {
        display: flex;
        list-style: none;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.5px;
        color: #808080;
        position: relative;
    }

    .listItemsActive {
        width: 140px;
        padding: 0px 25px 5px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsActive:hover::after {
        content: "";
        width: 80px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 11%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .listItemsAbout {
        width: 140px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsAbout:hover::after {
        content: "";
        width: 100px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 44%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .listItemsContact {
        width: 140px;
        margin-right: 57px;
        font-family: 'Galano', sans-serif;
        font-style: normal;
        list-style: none;
    }

    .listItemsContact:hover::after {
        content: "";
        width: 110px;
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 76.5%;
        background-color: #65A999;
        border-radius: 20px;
        transform: translate(-50%, 0rem)
    }

    .menuIcon {
        display: none;
    }

    .top {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }
    .middle {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }
    .bottom {
        width: 24px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
    }

    .btn {
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .navbar {
        width: 1024px;
    }

    .navlogo {
        object-fit: contain;
    }
    .section2 {
        position: absolute;
        z-index: 999999;
        left: 25rem;
    }
    .btn {
        position: absolute;
        z-index: 1;
        left: 28rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 768px;
    }
    .navlogo {
        object-fit: contain;
    }
    .menuIcon {
        display: inline;
        position: relative;
        left: 19rem;
        z-index: 100001;
    }
    .topActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(-45deg) translate(-5px, 0px);
    }
    .middleActive {
        opacity: 0;
    }
    .bottomActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(43deg) translate(-4px, -1px);
    }

    .btn {
        position: absolute;
        left: 350px;
        top: 100px;
        transform: translateX(100%);
        transition: all .5s ease;
        z-index: 100001;
    }
    .btnActive {
        position: absolute;  
        left: 110px;
        top: 450px;
        transform: translateX(0%);
        transition: all .5s ease;
        z-index: 100001;
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
    }

    .disappear {
        display: none;
    }

    .unorderedList {
        position: absolute;
        left: 0px;
        height: 100vh;
        top: -4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 384px;
        transform: translateX(100%);
        transition: all .4s ease;
        padding-top: 4rem;
        z-index: 100000;
    }
    .unorderedListActive {
        list-style: none;
        position: absolute;
        left: 0px;
        height: 100vh;
        top: -4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 384px;
        transform: translateX(0%);
        transition: all .4s ease;
        padding-top: 4rem;
        z-index: 100000;
    }

    .listItemsActive {
        position: relative;
        top: -300px;
    }

    .listItemsAbout {
        position: relative;
        top: -200px;
    }

    .listItemsContact {
        position: relative;
        top: -100px;
    }
}

@media (max-width: 425px) {
    .navbar {
        width: 425px;
        height: 63px;
        padding: 15px 28px 14px;
    }
    .navlogo {
        object-fit: contain;
        margin-top: -15px;
        margin-left: -15px;
        height: 45px;
    }
    .section1 {
        margin-top: 35px;
    }
    .menuIcon {
        display: inline;
        position: relative;
        top: 5px;
        left: -1.5rem;
        z-index: 100001;
    }
    .topActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(-45deg) translate(-5px, 0px);
    }
    .middleActive {
        opacity: 0;
    }
    .bottomActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(43deg) translate(-4px, -1px);
    }

    .btn {
        position: absolute;
        left: 350px;
        top: 100px;
        transform: translateX(100%);
        transition: all .5s ease;
        z-index: 100001;
    }
    .btnActive {
        position: absolute;  
        left: -275px;
        top: 280px; 
        transform: translateX(0%);
        transition: all .5s ease;
        z-index: 100001;
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }

    .unorderedList {
        margin-top: 10px;
        position: absolute;
        left: 0px;
        height: 100vh;
        top: 4vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 100%;
        transform: translateX(20%);
        transition: all .4s ease;
        padding-top: 4rem;
        z-index: 100000;
    }
    .unorderedListActive {
        list-style: none;
        position: absolute;
        left: 25px;
        height: 100vh;
        top: 0vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFFFFF;
        width: 225px;
        transform: translateX(-100%);
        transition: all .4s ease;
        padding-top: 4rem;
        z-index: 100000;
    }

    .listItemsActive {
        position: relative;
        top: -90px;
    }

    .listItemsAbout {
        position: relative;
        top: -60px;
    }

    .listItemsContact {
        position: relative;
        top: -30px;
    }
}

@media (max-width: 375px) {
    .navbar {
        width: 375px;
        height: 63px;
        padding: 15px 28px 14px;
    }
    .navlogo {
        object-fit: contain;
    }
    .section1 {
        margin-top: 35px;
    }
    .menuIcon {
        display: inline;
        position: relative;
        top: 5px;
        left: -5rem;
        z-index: 100001;
    }
    .topActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(-45deg) translate(-5px, 0px);
    }
    .middleActive {
        opacity: 0;
    }
    .bottomActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(43deg) translate(-4px, -1px);
    }

    .btn {
        position: absolute;
        left: 350px;
        top: 100px;
        transform: translateX(100%);
        transition: all .5s ease;
        z-index: 100001;
    }
    .btnActive {
        position: absolute;  
        left: -275px;
        top: 180px; 
        transform: translateX(0%);
        transition: all .5s ease;
        z-index: 100001;
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }
}

@media (max-width: 320px) {
    .navbar {
        width: 320px;
        height: 63px;
        padding: 15px 28px 14px;
    }
    .navlogo {
        object-fit: contain;
    }
    .section1 {
        margin-top: 35px;
    }
    .menuIcon {
        display: inline;
        position: relative;
        top: 4px;
        left: -8rem;
        z-index: 100001;
    }
    .topActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(-45deg) translate(-5px, 0px);
    }
    .middleActive {
        opacity: 0;
    }
    .bottomActive {
        width: 30px;
        height: 2px;
        background-color: #65A999;
        margin-top: 5px;
        transition: all .5s ease;
        transform: rotate(43deg) translate(-4px, -1px);
    }

    .btn {
        position: absolute;
        left: 350px;
        top: 100px;
        transform: translateX(100%);
        transition: all .5s ease;
        z-index: 100001;
    }
    .btnActive {
        position: absolute;  
        left: -315px;
        top: 180px;
        transform: translateX(0%);
        transition: all .5s ease;
        z-index: 100001;
        background: #65A999;
        border-radius: 2px;
        width: 148px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        cursor: pointer;
        display: none;
    }
    .listItemsActive {
        left: -50px;
    }

    .listItemsAbout {
        left: -50px;
    }

    .listItemsContact {
        left: -50px;
    }
    .unorderedListActive {
        width: 300px;
    }
}