@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Galano:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,700&display=swap');

.backgroundColor {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.5);
    display: grid;
    place-items: center;
}

.container {
    margin-top: -15px;
    height: 556px;
    width: 765px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow-y: scroll;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 41px;
}

.span {
    font-family: 'Galano', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #242F57;
}

.btn {
    color: #7C88B1;
    border: none;
    background-color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

.form {
    padding: 0px 53px 28px 40px;
}

.inputSectionOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 25px;
}

.inputSection {
    display: flex;
    flex-direction: column;
}

.inputSectionTwo {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.inputSectionThree {
    display: flex;
    margin-top: 24px;
}

.localGovernment {
    margin-left: 17px;
}

.label {
    font-family: 'Galano', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #808080;
    mix-blend-mode: normal;
    opacity: 0.9;
    margin-bottom: 5px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
    height: 42px;
    outline: none;
    text-indent: 8px;
}

.errorMessage {
    color: red;
}

.addressInput {
    width: 100%;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
    outline: none;
    text-indent: 8px;
}

.select {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
    height: 32px;
    width: 236px;
    color: #C6C6C6;
    padding: 6px 0;
    text-indent: 6px;
    outline: none;
}

.policy {
    font-family: 'Galano', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #242F57;
    margin-top: 39px;
}

.inputPolicySection {
    margin-top: 29px;
    display: flex;
}

.numberOfLives {
    margin-left: 17px;
}

.line {
    margin-top: 45px;
    width: 100%;
    height: 2px;
    background: #EAEDF7;
    box-shadow: 0px 2px 4px rgba(28, 41, 90, 0.0367952);
}

.cancelOrSubmit {
    margin-top: 29px;
    display: flex;
    justify-content: flex-end;
}

.cancel {
    border: 1px solid #65A999;
    border-radius: 2px;
    height: 42px;
    width: 118px;
    background-color: #FFFFFF;
    font-family: 'Galano', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #65A999;
    position: relative;
    left: -12px;
    cursor: pointer;
}

.submit {
    background: #65A999;
    border-radius: 2px;
    height: 42px;
    width: 148px;
    font-family: 'Galano', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

@media (max-width: 425px) {
    .container {
        margin-top: -15px;
        height: 556px;
        width: 420px;
        border-radius: 10px;
        background-color: #ffffff;
        overflow-y: scroll;
    }
    /* .btn {
        margin-right: 20px;
    } */
    .form {
        padding: 0px 10px 28px 10px;
    }    
    .inputSectionOne {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 25px;
    }
    .inputSectionThree {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }
    .localGovernment {
        margin-top: 24px;
        margin-left: 0px;
    }
    .inputPolicySection {
        margin-top: 29px;
        display: flex;
        flex-direction: column;
    }
    
    .numberOfLives {
        margin-top: 24px;
        margin-left: 0px;
    }
}

@media (max-width: 375px) {
    .container {
        margin-top: -15px;
        height: 556px;
        width: 370px;
        border-radius: 10px;
        background-color: #ffffff;
        overflow-y: scroll;
    }
    /* .btn {
        margin-right: 20px;
    } */
    .form {
        padding: 0px 10px 28px 10px;
    }    
}
@media (max-width: 320px) {
    .container {
        margin-top: -15px;
        height: 556px;
        width: 315px;
        border-radius: 10px;
        background-color: #ffffff;
        overflow-y: scroll;
    }
    /* .btn {
        margin-right: 20px;
    } */
    .form {
        padding: 0px 10px 28px 10px;
    }    
}